h2{
    background-color: antiquewhite;
}

.linkFormulario{
    color: red;
}
h1{
    background-color: rgb(161, 160, 214);

}

body{
    background-color: silver;
}

code{
    background-color:  bisque;
}
